<h1>Update</h1>

<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    {{error}}

    Username : {{form.username}} <br>
    Email : {{form.email}} <br>

    <a href="{% url 'reset_password' %}">Change Password</a>
    <br>
    <!-- Name : {{info_form.name}} <br> -->
    <!-- Phone : {{info_form.phone}} <br> -->

    Name : {{info_form.name}} <br>
    Phone : {{info_form.phone}} <br>

    <tr>
        <th><label for="id_profile_pic">Profile pic:</label></th>

        <td>
            {% if Object.profile_pic %}

            Currently:


            <img src="{{Object.profile_pic.url}}" style="height: 100px;" alt="">
            <input type="checkbox" name="profile_pic-clear" id="profile_pic-clear_id">
            <label for="profile_pic-clear_id">Clear</label><br>

            {% else %}
            None
            {% endif %}
            <br>
            Change:
            <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
        </td>
    </tr>

    <input type="submit" value="Update">

</form>