{% extends 'base.html' %}
<!--Title-->
{% block title %}Job-Post{% endblock title %}
<!--body block-->
{% block body %}

<!--start block-->

<div class="regform my-3">
  <h1>JOB POSTING FORM</h1>
</div>
<div class="main my-2">
  <!-- <form action="" method="POST">
    {% csrf_token %} {% comment %} ------------------ {% endcomment %}
    {{form}} -->
  <!-- <h2 class="name">Company</h2>
    <label for="id_company"></label>
    <input class="checkBox" type="text" name="company" maxlength="20" required id="id_company" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Postion</h2>
    <label for="id_position"></label>
    <input class="checkBox" type="text" name="position" maxlength="20" required id="id_position" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Location</h2>
    <label for="id_location"></label>
    <input class="checkBox" type="text" name="location" maxlength="20" required id="id_location" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Salary(Lowest)</h2>
    <label for="id_salaryL"></label>
    <input class="checkBox" type="number" name="salaryL" min="0" required id="id_salaryL" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Salary(Heighst)</h2>
    <label for="id_salaryH"></label>
    <input class="checkBox" type="number" name="salaryH" min="0" required id="id_salaryH" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Minimum Experience</h2>
    <label for="id_min_exp"></label>
    <input class="checkBox" type="text" name="min_exp" maxlength="20" required id="id_min_exp" />
    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Description</h2>
    <label for="id_description"></label>
    <textarea class="checkBox" name="description" cols="40" rows="10" required id="id_description"></textarea>

    {% comment %} -------------- {% endcomment %}
    <h2 class="name">Category</h2>

    <label for="id_category"></label>
    <select class="option" name="category" class="form-control" maxlength="20" id="id_category">
      <option value="Web Design">Web Design</option>
      <option value="Web Devlopment">Web Devlopment</option>
      <option value="AR/VR">AR/VR</option>
      <option value="ML/AI">ML/AI</option>
      <option value="CyberSecurity">CyberSecurity</option>
      <option value="IOT - RPA">IOT - RPA</option>
      <option value="App Devlopment">App Devlopment</option>
    </select>
    <input type="hidden" name="person" class="form-control" value="" id="elder" />

    {% comment %} ------------------ {% endcomment %}
    <h2 class="name">Resume</h2>
    <label for="id_resume"></label>
    <input class="checkBox" type="text" name="resume" maxlength="200" required id="id_resume" /> -->

  <!-- {% comment %} --------------- {% endcomment %} -->

  <!-- <button type="submit" value="Post">POST</button> -->
  <!-- </form> -->
  <form action="" method="POST" style="padding: 15px">
    {% csrf_token %} {{form.errors}}
    <!-- {{form}} -->
    <tr>
      <th><label for="id_company">Company:</label></th>
      <td>
        <input type="text" name="company" maxlength="20" required id="id_company" />
      </td>
    </tr>

    <tr>
      <br />
      <th><label for="id_position">Position:</label></th>
      <datalist id="position_list">
        <option value="Web Designer">Web Designer</option>
        <option value="Web Developer">Web Developer</option>
        <option value="Android Developer">Android Developer</option>
        <option value="IOS Developer">IOS Developer</option>
        <option value="Software Engineer">Software Engineer</option>
        <option value="DevOps Developer">DevOps Developer</option>
        <option value="Software Developer">Software Developer</option>
        <option value="Junior Software Developer">Junior Software Developer</option>
        <option value="Intern Software Developer">Intern Software Developer </option>
        <option value="Artificial intelligence/Machine Learning Engineer">Artificial intelligence/Machine
          Learning Engineer</option>
        <option value="Big Data Engineer">Big Data Engineer</option>
        <option value=".NET Developer">.NET Developer </option>
        <option value="Data Engineer">Data Engineer</option>
        <option value="Big Data Developer">Big Data Developer</option>
        <option value="Java Developer">Java Developer</option>
      </datalist>
    </tr>
    <tr>
      <input type="text" name="position" maxlength="20" id="id_position" placeholder="Select or Specify Position"
        list="position_list" />
    </tr>
    <br />
    <tr>
      <th><label for="id_location">Location:</label></th>
      <td>
        <datalist id="location_list">
          <option value="Ahmedabad">Ahmedabad</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Surat">Surat</option>
          <option value="Rajkot">Rajkot</option>
          <option value="Mumbai">Mumbai</option>
          <option value="Delhi">Delhi</option>
          <option value="Bengaluru">Bengaluru</option>
          <option value="Hyderabad">Hyderabad</option>
          <option value="Chennai">Chennai</option>
          <option value="Bhopal">Bhopal</option>
          <option value="Jaipur">Jaipur</option>
          <option value="New Delhi">New Delhi</option>
          <option value="Navi Mumbai">Navi Mumbai</option>
          <option value="Ranchi">Ranchi</option>
          <option value="Pune">Pune</option>
          <option value="Agra">Agra</option>
          <option value="Nagpur">Nagpur</option>
          <option value="Indore">Indore</option>
          <option value="Ujjain">Ujjain</option>
          <option value="Patna">Patna</option>
          <option value="Gandhinagar">Gandhinagar</option>
          <option value="Chandigarh">Chandigarh</option>
        </datalist>
      </td>
      <td>
        <input type="text" name="location" maxlength="20" list="location_list" id="id_location"
          placeholder="Select or Specify Location" />
      </td>
    </tr>
    <tr>
      <br />
      <th><label for="id_salaryL">Salary(From):</label></th>
      <td>
        <input type="number" name="salaryL" min="0" required id="id_salaryL" />
      </td>
    </tr>
    <tr>
      <br />
      <th><label for="id_salaryH">Salary(To):</label></th>
      <td>
        <input type="number" name="salaryH" min="0" required id="id_salaryH" />
      </td>
    </tr>
    <tr>
      <br />
      <th>
        <label for="id_min_exp">Minimum experience Required For This Job:</label>
      </th>
      <td>
        <datalist id="min_exp_list">
          <option value="0-1 Years(Fresher)">0-1 Years(Fresher)</option>
          <option value="1-2 Years">1-2 Years</option>
          <option value="2-3 Years">2-3 Years</option>
          <option value="3-4 Years">3-4 Years</option>
          <option value="4-5 Years">4-5 Years</option>
          <option value="5-6 Years">5-6 Years</option>
          <option value="6-7 Years">6-7 Years</option>
          <option value="7-8 Years">7-8 Years</option>
          <option value="8-9 Years">8-9 Years</option>
          <option value="9-10 Years">9-10 Years</option>
          <option value="10+ Years">10+ Years</option>
        </datalist>
      </td>
      <td>
        <input type="text" name="min_exp" maxlength="20" id="id_min_exp" list="min_exp_list" />
      </td>
    </tr>
    <br />
    <tr>
      <th><label for="id_qualification">Qualification For Job:</label></th>
      <td>
        <textarea name="qualification" cols="40" rows="10" required id="id_qualification"
          placeholder="Qualification"></textarea>
      </td>
    </tr>

    <tr>
      <br />
      <th><label for="id_description">Description Of Job:</label></th>
      <td>
        <textarea name="description" cols="40" rows="10" required id="id_description"
          placeholder="Description"></textarea>
      </td>
    </tr>

    <tr>
      <br />
      <!-- <th><label for="id_category">Category:</label></th> -->
      <td>
        <select name="category" class="form-control" maxlength="20" id="id_category">
          <option value="Web Design">Web Design</option>
          <option value="Web Devlopment">Web Devlopment</option>
          <option value="AR/VR">AR/VR</option>
          <option value="ML/AI">ML/AI</option>
          <option value="CyberSecurity">CyberSecurity</option>
          <option value="IOT - RPA">IOT - RPA</option>
          <option value="App Devlopment">App Devlopment</option>
        </select><input type="hidden" name="person" class="form-control" value="" id="elder" />
      </td>
    </tr>
    <tr>
      <br />


      <p> Please Specify a URL or EMAIL for further communication for the Employee.
        In your given choices Employee can submit/mail you his/her resume.</p>
      <p> Here you can Specify your mail id, form link, website link, etc.
        where they can contact you if they are interested in this job.</p>

      <td>
        <input type="text" name="resume" maxlength="200" id="id_resume" />
      </td>
    </tr>

    <input type="radio" id="male" name="gender" value="male" onclick="fun1()">
    <label for="male">Email</label>

    <input type="radio" id="female" name="gender" value="female" onclick="fun2()">
    <label for="female">URL</label><br />

    <input type="email" value="" id="hidethisemail" placeholder="Enter Email" />
    <input type="url" value="" id="hidethisurl" placeholder="Enter URL" /><br>

    <button type="submit" value="Post" onclick="done()">POST</button>
  </form>

  <script>
    var name1 = {{ user.id }};
    document.getElementById("elder").value = name1;

    function funother() {
      var otherval = document.getElementById("id_position_select").value;
      if (otherval == "other") {
        document.getElementById("id_position").style.display = "block";
      } else {
        document.getElementById("id_position").style.display = "none";
      }
    }

    function funother2() {

      var otherval = document.getElementById("id_location_select").value;
      console.log(otherval);

      if (otherval == "other") {
        console.log("block");
        document.getElementById("id_location").style.display = "block";
      }
      else {
        console.log("none");
        document.getElementById("id_location").style.display = "none";
      }
    }

    function fun1() {
      document.getElementById("hidethisemail").style.display = "block";
      document.getElementById("hidethisurl").style.display = "none";
    }

    function fun2() {
      document.getElementById("hidethisurl").style.display = "block";
      document.getElementById("hidethisemail").style.display = "none"
    }

    function done() {
      if (document.getElementById("hidethisemail").style.display == "block") {
        document.getElementById("id_resume").value = document.getElementById("hidethisemail").value;
      }
      else { document.getElementById("id_resume").value = document.getElementById("hidethisurl").value; }
    }
  </script>
</div>

<style type="text/css">
  #id_category,
  #id_resume,
  #hidethisemail,
  #hidethisurl {
    display: none;
  }

  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-family: "Nunito", sans-serif;
    color: #384047;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    margin-top: 50px;
    border-radius: 3px;
  }

  tr {
    background-color: #f5f5f5;
  }

  th,
  td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }

  .clickable-row:hover {
    background-color: #cdcdcd;
  }

  .head {
    color: white;
    background: green;
  }

  form {
    max-width: 300px;
    margin: 10px auto;
    margin-top: 30px;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  h1 {
    font-size: 35px;
    margin: 0 0 20px 0;
    margin-top: 20px;
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 5px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }

  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  button {
    align: center;
    padding: 10px 30px 10px 30px;
    color: #fff;
    background-color: #ff8d1e;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #ff8d1e;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    margin-left: 25%;
  }

  button:hover {
    color: #ff8d1e;
    background-color: red;
  }

  .btnSub {
    padding: 10px 30px 10px 30px;
    color: #fff;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 50%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(to right, #019e35 0%, #02e64d 100%);
    background: -moz-linear-gradient(to right, #019e35 0%, #02e64d 100%);
    background: linear-gradient(to right, #019e35 0%, #02e64d 100%);
  }

  .btnSub:hover {
    background: -webkit-linear-gradient(to right, #02e64d 0%, #019e35 100%);
    background: -moz-linear-gradient(to right, #02e64d 0%, #019e35 100%);
    background: linear-gradient(to right, #02e64d 0%, #019e35 100%);
    color: white;
  }

  .center {
    align: center;
    text-align: center;
    margin: 40px;
  }

  fieldset {
    margin-bottom: 30px;
    border: none;
  }

  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 4px;
    font-size: 19px;
  }

  label.light {
    font-weight: 300;
    display: inline;
  }

  .bikes {
    margin: 70px;
    border-radius: 3px;
  }

  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }

  @media screen and (min-width: 480px) {
    form {
      max-width: 700px;
    }
  }
</style>

<!--end block-- >

            {% endblock body %}